<app-header></app-header>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="goToListBirds()">LISTADO DE AVES</button>
        <button type="button" class="btn btn-secondary" (click)="addBird()">AÑADIR AVE</button>
        <button type="button" class="btn btn-secondary">INFO</button>
        <button type="button" class="btn btn-secondary" (click)="logout()">DESCONECTAR</button>
      </div>
    </div>
  </div>
</div>