<div class="container-fluid header">
  <div class="row">
    <div [ngClass]="{'col-3': authenticationService.isLogged(), 'div-none': !authenticationService.isLogged()}"
      class="text-center">
      <button type="button" (click)="goToMenu()" class="btn button-back" [disabled]="disableButton"
        *ngIf="authenticationService.isLogged()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <button type="button" (click)="back()" class="btn button-back" [disabled]="disableButton"
        *ngIf="authenticationService.isLogged() && isBackButton">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
    <div [ngClass]="{'col-6': authenticationService.isLogged(), 'col-12': !authenticationService.isLogged()}"
      class="text-center">
      <h1>Ornitología App</h1>
    </div>
  </div>
</div>