.header {
    background-color: #E3705E;
    padding: 10px;
    border-bottom: 4px solid black;
    color: black;
}

.button-back {
    background-color: white;
    border: 1px solid black;
    margin-top: 10px;
}

.div-none {
    display: none;
}