<div class="item row text-center" (click)="goToDetail()">
  <div class="col-2">
    <img src="{{image}}" alt="Imagen del pájaro">
  </div>
  <div class="col-4">
    <span>{{name}}</span>
  </div>
  <div class="col-4">
    <span [ngClass]="{'green': mine !== 0, 'red': mine === 0}">{{sightings}}</span>
  </div>
  <div class="col-2">
    <button type="button" (click)="goToDetail()" class="btn btn-success">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>