<app-header></app-header>
<div class="container">
  <div class="row mt-5" *ngIf="!bird">
    <div class="col-12 text-center">
      <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row mt-5" *ngIf="bird">
    <div class="col-3">
      <img src="{{bird.bird_image}}" alt="Imagen del pájaro">
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 mt-3">
          <b>Nombre: </b>{{bird.bird_name}}
        </div>
        <div class="col-12 mt-3">
          <b>Número de avistamientos: </b>{{bird.bird_sightings}}
        </div>
        <div class="col-12 mt-3">
          <b>Descripción: </b>{{bird.bird_description}}
        </div>
        <div class="col-12 mt-3">
          <button type="button" (click)="addSighting()" class="btn btn-success">
              <i class="fa fa-plus" aria-hidden="true"></i> Añadir avistamiento
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 mt-3" *ngIf="bird">
    <p-table [columns]="cols" [value]="sightings" [paginator]="true" [rows]="10" [responsive]="true">
      <ng-template pTemplate="caption">
        Avistamientos
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-toast [style]="{marginTop: '20px'}"></p-toast>