<app-header></app-header>
<div class="container">
  <div class="row">
    <div *ngIf="sightingForm" class="col-12">
      <form class="mt-5" [formGroup]="sightingForm" (ngSubmit)="saveNewSighting()">
        <h2>Añadir avistamiento</h2>
        <div class="form-group">
          <label for="place">Lugar</label>
          <input [ngClass]="{'is-invalid': sightingForm.controls.place.invalid}" type="text"
            class="form-control is-invalid" id="place" formControlName="place" name="place" required>
          <div
            *ngIf="sightingForm.controls.place.invalid && (sightingForm.controls.place.dirty || sightingForm.controls.place.touched)"
            class="alert alert-danger">
            <div *ngIf="sightingForm.controls.place.errors.required">
              Tienes que escribir un lugar
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lat">Latitud</label>
          <input [ngClass]="{'is-invalid': sightingForm.controls.lat.invalid}" type="text"
            class="form-control is-invalid" id="lat" formControlName="lat" name="lat" required>
        </div>
        <div class="form-group">
          <label for="long">Longitud</label>
          <input [ngClass]="{'is-invalid': sightingForm.controls.long.invalid}" type="text"
            class="form-control is-invalid" id="long" formControlName="long" name="long" required>
        </div>
        <div class="buttons text-right">
          <button type="submit" class="btn btn-success"
            [disabled]="sightingForm.invalid || preloader || getGeo">
            <i class="fa" [ngClass]="{'fa-plus': !preloader, 'fa-spinner fa-spin': preloader}"
              aria-hidden="true"></i> Añadir
          </button>
        </div>
      </form>
      <span *ngIf="getGeo">Obteniendo geolocalización <i class="fa fa-spinner fa-spin"></i></span>
    </div>
  </div>
</div>

<p-toast [style]="{marginTop: '20px'}" life="500" (onClose)="navigate()"></p-toast>