.buttons button {
    margin: 10px;
}

img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    box-shadow: 21px 14px 16px 5px rgba(0,0,0,0.75);
}