<app-header></app-header>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 col-md-4 offset-md-4">
      <img src="../../assets/logo.jpg" alt="Logotipo de la App">
      <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <input [ngClass]="{'is-invalid': loginForm.controls.email.invalid}" type="text" class="form-control"
            id="email" formControlName="email" name="email" autofocus>
          <div
            *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls.email.errors.required">
              Tienes que escribir tu nombre
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [ngClass]="{'is-invalid': loginForm.controls.password.invalid}" type="password" class="form-control"
            id="password" formControlName="password" name="password">
          <div
            *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls.password.errors.required">
              Tienes que escribir tu apellido
            </div>
          </div>
        </div>
        <div class="buttons text-right">
          <button type="submit" class="btn btn-success"
            [disabled]="loginForm.pristine || loginForm.invalid || preloader">
            <i class="fa" [ngClass]="{'fa-sign-in': !preloader, 'fa-spinner fa-spin': preloader}"
              aria-hidden="true"></i> Iniciar sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast [style]="{marginTop: '20px'}"></p-toast>