<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="mt-5" [formGroup]="addBirdForm" (ngSubmit)="saveNewAddBird()">
        <h2>Añadir ave</h2>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input [ngClass]="{'is-invalid': addBirdForm.controls.name.invalid}" type="text"
            class="form-control is-invalid" id="name" formControlName="name" name="name" required>
          <div
            *ngIf="addBirdForm.controls.name.invalid && (addBirdForm.controls.name.dirty || addBirdForm.controls.name.touched)"
            class="alert alert-danger">
            <div *ngIf="addBirdForm.controls.name.errors.required">
              Tienes que escribir un nombre
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea [ngClass]="{'is-invalid': addBirdForm.controls.description.invalid}" type="text"
            class="form-control is-invalid" id="description" formControlName="description" name="description" required>
          </textarea>
          <div
            *ngIf="addBirdForm.controls.description.invalid && (addBirdForm.controls.description.dirty || addBirdForm.controls.description.touched)"
            class="alert alert-danger">
            <div *ngIf="addBirdForm.controls.description.errors.required">
              Tienes que escribir una descripción
            </div>
            <div *ngIf="addBirdForm.controls.description.errors.minlength">
              Debe contener al menos 20 caracteres
            </div>
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
            (change)="handleSelected($event.target.checked)">
          <label class="form-check-label" for="defaultCheck1">
            ¿Has visto el ave?
          </label>
        </div>
        <div *ngIf="showGeo">
          <div class="form-group">
            <label for="place">Lugar</label>
            <input [ngClass]="{'is-invalid': addBirdForm.controls.place.invalid}" type="text"
              class="form-control is-invalid" id="place" formControlName="place" name="place" required>
            <div
              *ngIf="addBirdForm.controls.place.invalid && (addBirdForm.controls.place.dirty || addBirdForm.controls.place.touched)"
              class="alert alert-danger">
              <div *ngIf="addBirdForm.controls.place.errors.required">
                Tienes que escribir un lugar
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lat">Latitud</label>
            <input [ngClass]="{'is-invalid': addBirdForm.controls.lat.invalid}" type="text"
              class="form-control is-invalid" id="lat" formControlName="lat" name="lat" required>
          </div>
          <div class="form-group">
            <label for="long">Longitud</label>
            <input [ngClass]="{'is-invalid': addBirdForm.controls.long.invalid}" type="text"
              class="form-control is-invalid" id="long" formControlName="long" name="long" required>
          </div>
        </div>
        <div class="buttons text-right">
          <button type="submit" class="btn btn-success"
            [disabled]="addBirdForm.pristine || addBirdForm.invalid || preloader || getGeo">
            <i class="fa" [ngClass]="{'fa-plus': !preloader, 'fa-spinner fa-spin': preloader}" aria-hidden="true"></i>
            Añadir
          </button>
        </div>
      </form>
      <span *ngIf="getGeo">Obteniendo geolocalización <i class="fa fa-spinner fa-spin"></i></span>
    </div>
  </div>
</div>

<p-toast [style]="{marginTop: '20px'}" life="500" (onClose)="navigate()"></p-toast>