<app-header></app-header>
<div class="container">
  <div class="row mt-3" *ngIf="birds?.length === 0">
    <div class="col-12 text-center">
      <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row mt-3" *ngIf="birds?.length > 0">
    <div class="col-12 text-center">
      <ul class="list-group mt-5">
        <h2>Listado de pájaros</h2>
        <li class="list-group-item">
          <div class="item row text-center" (click)="goToDetail()">
            <div class="col-2">Imagen</div>
            <div class="col-4">Nombre</div>
            <div class="col-4">Avistamientos</div>
            <div class="col-2">Detalle</div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let bird of birds">
          <app-item-bird [id]="bird.id" [image]="bird.bird_image" [name]="bird.bird_name"
            [sightings]="bird.bird_sightings" [mine]="bird.mine">
          </app-item-bird>
        </li>
        <div class="text-right mb-5 mt-2">
          <button type="button" class="btn btn-success" (click)="addBird()">Añadir ave</button>
        </div>
      </ul>
    </div>
  </div>
</div>

<p-toast [style]="{marginTop: '20px'}"></p-toast>